.container-grid {
    margin: 20pt;
    display: grid;
    grid-gap: 20pt;
}

.container-grid .item {
    background: whitesmoke;
    color: #1d1d1d;
    border-radius: 0 0 .5em .5em;
    box-shadow: 1px 1px 3px -1px #1d1d1d;
}

.container-grid .header {
    background: purple;
    color: whitesmoke;
    line-height: 2;
    text-align: center;
}

.container-grid .content {
    padding: 10pt;
}

@media screen and (min-width: 426px) {
    .container-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 769px) {
    .container-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}