<mat-tab-group [backgroundColor]="background">
    <mat-tab label="Windows Applications">
        <app-list-posts [title]="titles[0]"></app-list-posts>
    </mat-tab>
    <mat-tab label="Android Applications">
        <app-list-posts [title]="titles[1]"></app-list-posts>
    </mat-tab>
    <mat-tab label="C/C++ Applications">
        <app-list-posts [title]="titles[2]"></app-list-posts>
    </mat-tab>
    <mat-tab label="Web Applications">
        <app-list-posts [title]="titles[3]"></app-list-posts>
    </mat-tab>
</mat-tab-group>
  