.content {
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    background: rgba(0, 0, 0, .7);
    width: 250px;
    height: 250px;
    padding: 20pt;
}

.form-container .title {
    color: whitesmoke;
    padding-bottom: 10pt;
}

.form-container .form {
    display: flex;
    flex-direction: column;
}

.form-container .form input {
    color: whitesmoke;
}