<form (ngSubmit)="addPost()" class="form">
  <div class="info">
    <mat-form-field>
      <mat-label>Category</mat-label>
      <mat-select [(value)]="selected">
        <mat-option *ngFor="let category of categories" [value]="category.value">
          {{category.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" name="title" [(ngModel)]="post.title" placeholder="Title">
    </mat-form-field>
  </div>
  <mat-form-field class="resume">
      <textarea matInput type="text" name="resume" [(ngModel)]="post.resume" placeholder="Resume of app"></textarea>
  </mat-form-field>
  <mat-form-field class="description">
    <textarea matInput type="text" name="contain" [(ngModel)]="post.contain" placeholder="Description of app"></textarea>
  </mat-form-field>
  <button class="save" mat-flat-button color="accent">Save</button>
</form>